body{
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background-color: aliceblue;
    max-width: 450px;
}

h1 {
    font-size: 25px;
    text-align: center;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    color: #2f2f2f;
}

nav {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-image: url("../logo_azulalice.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    min-width: 210px;
    height: 90px;
}

nav ul {
    list-style: none;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 5px 0px 5px 0px;
}

nav ul li {
    text-align: center;
    width: 300px;
}

nav ul li a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: aliceblue
}

.logged {
    font-size: 12px;
    color: aliceblue;
    padding-top: 0.9em;
}

footer {
    background-color: cornflowerblue;
    color: aliceblue;
    text-align: center;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
}

footer p {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
Media Queries
*/

@media screen
    and (min-width: 500px) 
    and (min-device-width: 1000px) {
    
        
        body {
            max-width: none;
        }
        
        nav {
            flex-direction: row;
            justify-content: flex-start;
        }

        .logo {
            margin-left: 10px;
        }

        nav ul {
            flex-direction: row;
            width: 100%;
            margin: auto;
        }

        nav ul li {
            padding: 0px 8px;
            width: auto;
        }

        li.logged {
            margin-left: auto;
            margin-right: 1.0em;
            text-align: right;
        }

        li.log_tab {
            margin-left: auto;
            margin-right: 1.0em;
        }

        nav ul li a {
            width: auto;
        }
}