form {
    padding: 0;
}

.menu_list {
    max-width: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(240,248,255,0.5);
}

#filter {
    margin-left: 10px;
    max-width: 100px;
    font-size: 14px;
    background-color: cornflowerblue;
}

select {
    padding: 2px;
    margin: 2px;
}

#filter:hover {
    background-color: #324a76;
}