table {
    text-align: center;
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
    margin: 2em 0.5em 2em 0.5em;
    background-color: ghostwhite;
    border-collapse: collapse;
    border: 1px solid cornflowerblue;
    cursor: default;
}

thead {
    font-weight: 700;
    background-color: cornflowerblue;
    color: white;
}

th, td {
    padding: 0.5em 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #d0dff9;
}

a[id="delete"] {
    cursor: pointer;
    margin: 0px;
    text-indent: 0px;
    padding: 2px;
    width: auto;
    color: indianred;
    background-color: white;
    font-size: 14px;
    text-decoration: none !important;
}

a[id="delete"]:hover {
    background-color: transparent;
}