#tabs {
    width: 100%;
    background-color: #c1d4f7;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab{
    padding: 0.3em 1em;
    color: #283B5E;
    background-color: #c1d4f7;
    text-decoration: none;
    border-bottom-color: #283B5E;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-align: center;
}

.selected {
    color: aliceblue!important;
    background-color: cornflowerblue;
    border-bottom-color: aliceblue;
}

.tab:hover {
    color: aliceblue;
    border-bottom-color: aliceblue;
}

#main {
    margin: auto;
}
        
@media screen
    and (min-width: 500px) 
    and (min-device-width: 1000px) {
}