<!DOCTYPE html>
<html>
    <head>
        <title>Adicionar foto</title>
        {% include 'includer.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/system_msg.css') }}">
    </head>
    
	<body>
        
         <nav>{% include 'nav.html' %}</nav>
                
		<form method="post">
                <h1>Adicionar foto</h1>
				<input type="file" accept="image/*;capture=camera">
				<input type="submit" value="Enviar">                       
        </form>
		
		<footer>{% include 'footer.html' %}</footer>
		
    </body>
    
</html>