<!DOCTYPE html>
<html>
    <head>
        <title>Cadastre-se</title>
        {% include 'includer.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/system_msg.css') }}">
    </head>
    
    <body>
        
        <nav>{% include 'nav.html' %}</nav>
        
        {% if msg == 1 %}
            <center>
                <div id="msg_success">
                    <h2>Cadastro realizado com sucesso!</h2>
                </div>
            <center>

        {% elif msg == 2 %}
            <center>
                <div id="msg_failed">
                    <h2>As senhas digitadas não conferem. Tente novamente.</h2>
                </div>
            </center>
            
        {% elif msg == 3 %}
            <center>
                <div id="msg_failed">
                    <h2>Este nome de usuário já está em uso.</h2>
                </div>
            </center>
            
        {% elif msg == 4 %}
            <center>
                <div id="msg_failed">
                    <h2>ERRO{{error_id}}: Ocorreu um erro ao tentar conexão com o servidor.<br> Tente novamente mais tarde.</h2>
                </div>
            </center>
            
        {% elif msg == 5 %}
            <center>
                <div id="msg_failed">
                    <h2>O nome de usuário deve possuir entre 4 a 16 caracteres.</h2>
                </div>
            </center>
            
        {% elif msg == 6 %}
            <center>
                <div id="msg_failed">
                    <h2>A senha deve possuir entre 4 a 20 caracteres.</h2>
                </div>
            </center>

        {% elif msg == 7 %}
            <center>
                <div id="msg_failed">
                    <h2>O nome de usuário deve possuir apenas caracteres alfanuméricos.</h2>
                </div>
            </center>
       
        {% endif %}
        
        <form method="post">
            <h1>Cadastro de Novo Usuário</h1>
            <div>
                <h3>Nome de usuário</h3>
                <input type="text" name="log_user" value="{{saved_user}}">
            </div>
            <div>
                <h3>Senha</h3>
                <input type="password" name="pass_user">
            </div>
            <div>
                <h3>Repita a Senha</h3>
                <input type="password" name="pass_user_confirm">
            </div>
            <input type="submit" value="Cadastrar-se">
            <div class="informative">
                <h4>Já possui uma conta? <br><a href="/">Clique aqui para acessá-la!</a></h4>
            </div>
		</form>
       
       <footer>{% include 'footer.html' %}</footer>
        
    </body>
</html>