<!DOCTYPE html>
<html>
    <head>
        <title>AutoMedidor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Condensed:400,400i,700|Titillium+Web:400,400i,700">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    
    <body>
        
        <nav>
            {% include 'nav.html' %}
        </nav>
        
        {% if msg == 1 %}
            <center>
                <div id="msg_success">
                    <h2>Cadastro realizado com sucesso!</h2>
                </div>
            <center>

        {% elif msg == 2 %}
            <center>
                <div id="msg_failed">
                    <h2>As senhas digitadas não conferem. Tente novamente.</h2>
                </div>
            </center>
            
        {% elif msg == 3 %}
            <center>
                <div id="msg_failed">
                    <h2>Este nome de usuário já está em uso.</h2>
                </div>
            </center>
            
        {% elif msg == 4 %}
            <center>
                <div id="msg_failed">
                    <h2>Ocorreu um erro ao tentar conexão com o servidor. Tente novamente mais tarde.</h2>
                </div>
            </center>
            
        {% endif %}
        
        <form method="post">
            <h1>Cadastro de Novo Usuário</h1>
            <div>
                <h3>Nome de usuário</h3>
                <input type="text" name="log_user" value="{{saved_user}}">
            </div>
            <div>
                <h3>Senha</h3>
                <input type="password" name="pass_user">
            </div>
            <div>
                <h3>Repita a Senha</h3>
                <input type="password" name="pass_user_confirm">
            </div>
            <input type="submit" value="Cadastrar-se">
            <div class="informative">
                <h4>Já possui uma conta? <br><a href="/">Clique aqui para acessá-la!</a></h4>
            </div>
		</form>
        
    </body>
</html>