<!DOCTYPE html>
<html>
    <head>
        <title>Visualizar Leituras</title>
        {% include 'includer.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
    </head>
    
	<body>
	
        <nav>{% include 'nav.html' %}</nav>
        
        <div id="tabs">
            <a href="/view/table" class="tab selected">Tabela de Medições</a>
            <a href="/view/chart" class="tab">Gráfico de Consumo</a>
            <a href="/view/estimate" class="tab">Estimativas</a>
            <a href="/view/statistics" class="tab">Estatísticas</a>
        </div>
        
        <center>
            <table>
                <thead>
                    <td>Valor Medido</td>
                    <td>Hora</td>
                    <td>Data</td>
                </thead>

                {% for row in rows %}
                <tr>
                    <td>{{row["VALOR"]}}</td>
                    <td>{{row["HORA"]}}</td>
                    <td>{{row["DATA"]}}</td>
                    <td><a href="/remove/{{row["ID"]}}" id="delete">x</a></td>
                </tr>
                {% endfor %}
            </table>
        </center>
        
        <footer>{% include 'footer.html' %}</footer>
		
	</body>
</html>

