<!DOCTYPE html>
<html>
    <head>
        <title>Visualizar Leituras</title>
        {% include 'includer.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    </head>
    
	<body>
	
        <nav>{% include 'nav.html' %}</nav>
        
        <center>
            <table>
                <thead>
                    <td>Valor Medido</td>
                    <td>Hora</td>
                    <td>Data</td>
                </thead>

                {% for row in rows %}
                <tr>
                    <td>{{row["VALOR"]}}</td>
                    <td>{{row["HORA"]}}</td>
                    <td>{{row["DATA"]}}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
        
        <footer>{% include 'footer.html' %}</footer>
		
	</body>
</html>

